/* .speed-dial {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
} */

/* .floating-icon-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
} */

/* .dpIcon {
  border-radius: 50%;
} */

/* button {
  padding-left: 10px;
  padding-right: 10px;
} */
